.logo {
	font-size: 30px;
}
.avatar-img {
	color: #3b7ddd;
	font-size: 120px;
}
.no-label {
    margin-top: 29px;
}

.seat {
	display: block;
	width: 25px;
	height: 25px;
	margin: 0 auto;
	border: 1px solid black;
	cursor: pointer;
}
.seat:disabled {
	cursor: default;
}
.dataTables_filter, .dataTables_info {
	display: none;
}

.seats-table .odd *, .seats-table .even *{
	box-shadow: none !important;
}

.edit-btn {
	background: #3b7ddd;
	color: #ffffff;
	cursor: pointer;
}

.mobile-br {
	display: none;
}

@media (max-width: 768px) {
	.mobile-br {
		display: block;
	}
}

@media (max-width: 1280px) {
	.pforile-actions-br {
		display: block;
	}
}

.dataTables_wrapper .row {
    overflow-x: auto;
}
